In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import OneHotEncoder, Normalizer, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [2]:
data = pd.read_csv('regression_data.csv')
data

        AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender  TARGET_D
0     15.500000  7.760467        17.343389         4.181353    Male      21.0
1      3.080000  6.208590        16.230984         4.150313    Male       3.0
2      7.500000  7.113956        18.047227         4.205057  Female      20.0
3      6.700000  5.783825        11.737110         4.055333    Male       5.0
4      8.785714  6.643790        12.494862         4.088969  Female      10.0
...         ...       ...              ...              ...     ...       ...
4665  15.500000  6.552508        15.280561         4.187901    Male      25.0
4666  11.857143  8.118803        15.029617         4.248632    Male      19.0
4667  11.333333  6.551080        15.742430         4.179506  Female      10.0
4668  13.000000  6.398595        13.326031         4.124159    Male      25.0
4669  17.923077  6.823286        17.417748         4.256304    Male      25.0

[4670 rows x 6 columns]

In [3]:
y = data['TARGET_D']
X = data.drop(['TARGET_D'], axis=1)

In [4]:
X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = object)

In [5]:
cat_data = pd.get_dummies(X_cat, drop_first=True) # if you need to save the encoding info, this won't do
cat_data

      gender_Male  gender_U
0               1         0
1               1         0
2               0         0
3               1         0
4               0         0
...           ...       ...
4665            1         0
4666            1         0
4667            0         0
4668            1         0
4669            1         0

[4670 rows x 2 columns]

In [6]:
le = LabelEncoder().fit(X_cat).transform(X_cat)
label = pd.DataFrame(le)
label

c:\users\katha\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

      0
0     1
1     1
2     0
3     1
4     0
...  ..
4665  1
4666  1
4667  0
4668  1
4669  1

[4670 rows x 1 columns]

In [7]:
transformer = Normalizer().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)

(4670, 4)

In [8]:
x_normalized.shape, cat_data.shape, label.shape

((4670, 4), (4670, 2), (4670, 1))

In [9]:
X1 = np.concatenate([x_normalized, cat_data], axis=1)
X2 = np.concatenate([x_normalized, label], axis=1)

In [10]:
X1_train, X1_test, y_train, y_test = train_test_split(X1, y, test_size=0.3, random_state=42)
X2_train, X2_test, y_train, y_test = train_test_split(X2, y, test_size=0.3, random_state=42)

In [11]:
model1 = LinearRegression()
model1.fit(X1_train,y_train)

LinearRegression()

In [12]:
predictions1  = model1.predict(X1_test)
predictions1.shape

(1401,)

In [13]:
r2_score(y_test, predictions1), mean_squared_error(y_test, predictions1, squared=False), mean_squared_error(y_test, predictions1)

(0.34480717480585454, 10.818463076649035, 117.03914334081851)

In [14]:
model2 = LinearRegression()
model2.fit(X2_train,y_train)

LinearRegression()

In [15]:
predictions2  = model2.predict(X2_test)
predictions2.shape

(1401,)

In [16]:
r2_score(y_test, predictions2), mean_squared_error(y_test, predictions2, squared=False), mean_squared_error(y_test, predictions2)

(0.34473225081636627, 10.819081626800385, 117.05252724736967)

In [17]:
#adjusted r2

r2_1 = r2_score(y_test, predictions1)
print(r2_1)

n = len(X1_test)
p = X1_test.shape[1]
adj_r2_1 = 1-((1-r2_1)*(n-1)/(n-p-1))
print(adj_r2_1)

0.34480717480585454
0.34198711960415806

In [18]:
pip install jupyterlab

Requirement already satisfied: jupyterlab in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (3.0.16)
Requirement already satisfied: tornado>=6.1.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (6.1)
Requirement already satisfied: jinja2>=2.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (2.11.3)
Requirement already satisfied: packaging in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (20.9)
Requirement already satisfied: nbclassic~=0.2 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (0.3.1)
Requirement already satisfied: jupyter-core in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (4.7.1)
Requirement already satisfied: jupyterlab-server~=2.3 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (2.6.0)
Requirement already satisfied: jupyter-server~=1.4 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (1.8.0)
Requirement already satisfied: ipython in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab) (7.22.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jinja2>=2.1->jupyterlab) (1.1.1)
Requirement already satisfied: ipython-genutils in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (0.2.0)
Requirement already satisfied: traitlets>=4.2.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (5.0.5)
Requirement already satisfied: Send2Trash in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (0.9.4)
Requirement already satisfied: argon2-cffi in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (20.1.0)
Requirement already satisfied: pyzmq>=17 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (22.0.3)
Requirement already satisfied: nbconvert in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (6.0.7)
Requirement already satisfied: nbformat in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (5.1.3)
Requirement already satisfied: websocket-client in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (1.1.0)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (3.1.0)
Requirement already satisfied: jupyter-client>=6.1.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (6.1.12)
Requirement already satisfied: prometheus-client in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-server~=1.4->jupyterlab) (0.10.1)
Requirement already satisfied: sniffio>=1.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.4->jupyterlab) (1.2.0)
Requirement already satisfied: idna>=2.8 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server~=1.4->jupyterlab) (2.10)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-client>=6.1.1->jupyter-server~=1.4->jupyterlab) (2.8.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyter-core->jupyterlab) (300)
Requirement already satisfied: babel in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab-server~=2.3->jupyterlab) (2.9.1)
Requirement already satisfied: json5 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab-server~=2.3->jupyterlab) (0.9.5)
Requirement already satisfied: jsonschema>=3.0.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab-server~=2.3->jupyterlab) (3.2.0)
Requirement already satisfied: requests in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jupyterlab-server~=2.3->jupyterlab) (2.25.1)
Requirement already satisfied: six>=1.11.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab) (1.15.0)
Requirement already satisfied: setuptools in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab) (49.2.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.3->jupyterlab) (20.3.0)
Requirement already satisfied: notebook<7 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbclassic~=0.2->jupyterlab) (6.3.0)
Requirement already satisfied: ipykernel in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from notebook<7->nbclassic~=0.2->jupyterlab) (5.5.3)
Requirement already satisfied: pywinpty>=0.5 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from terminado>=0.8.3->jupyter-server~=1.4->jupyterlab) (1.0.1)
Requirement already satisfied: cffi>=1.0.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from argon2-cffi->jupyter-server~=1.4->jupyterlab) (1.14.5)
Requirement already satisfied: pycparser in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.0.0->argon2-cffi->jupyter-server~=1.4->jupyterlab) (2.20)
Requirement already satisfied: pytz>=2015.7 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from babel->jupyterlab-server~=2.3->jupyterlab) (2021.1)
Requirement already satisfied: backcall in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from ipython->jupyterlab) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from ipython->jupyterlab) (0.18.0)
Requirement already satisfied: pickleshare in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from ipython->jupyterlab) (0.7.5)
Requirement already satisfied: colorama in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from ipython->jupyterlab) (0.4.4)
Requirement already satisfied: decorator in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from ipython->jupyterlab) (5.0.7)
Requirement already satisfied: pygments in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from ipython->jupyterlab) (2.8.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from ipython->jupyterlab) (3.0.18)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from jedi>=0.16->ipython->jupyterlab) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyterlab) (0.2.5)
Requirement already satisfied: testpath in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (0.4.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (0.1.2)
Requirement already satisfied: defusedxml in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (1.4.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (0.5.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (0.8.4)
Requirement already satisfied: bleach in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbconvert->jupyter-server~=1.4->jupyterlab) (3.3.0)
Requirement already satisfied: nest-asyncio in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter-server~=1.4->jupyterlab) (1.5.1)
Requirement already satisfied: async-generator in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter-server~=1.4->jupyterlab) (1.10)
Requirement already satisfied: webencodings in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from bleach->nbconvert->jupyter-server~=1.4->jupyterlab) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from packaging->jupyterlab) (2.4.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from requests->jupyterlab-server~=2.3->jupyterlab) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from requests->jupyterlab-server~=2.3->jupyterlab) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\katha\appdata\local\programs\python\python39\lib\site-packages (from requests->jupyterlab-server~=2.3->jupyterlab) (1.26.5)
Note: you may need to restart the kernel to use updated packages.